.service-list {    

    label {
        cursor: pointer;
        width: 100%;
        border: 2px solid var(--primary-color);
        border-radius: 5px;
        user-select: none;
        padding: 5px;
        transition: all 0.5s;

        img {
            max-width: 20px;
            filter: invert(31%) sepia(6%) saturate(3658%) hue-rotate(358deg) brightness(100%) contrast(71%);
            
        }
    }
}



.check-service[type="checkbox"] {
    display: none;
}

.check-service[type="checkbox"]:checked+label {
    background-color: var(--primary-color);
    color: var(--bg-color);
    border: 2px solid var(--primary-color);

    img {
        filter: invert(99%) sepia(33%) saturate(1011%) hue-rotate(295deg) brightness(105%) contrast(94%);
    }

}