footer {
  letter-spacing: 1px;
  font-weight: 100;
}

.ms_logo {
  text-decoration: none;
  a {
    color: black;
  }
}

li {
  margin-top: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}
