// Bootstrap
@use './partials/checked';
@use './header.scss' as *;
@import '@fortawesome/fontawesome-free/css/all.css';
@import "bootstrap/scss/bootstrap";
@import 'vue-cal/dist/vuecal.css';
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Libre+Barcode+128&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Tangerine:wght@400;700&display=swap');
@import "partials/searchbar";

:root {
    --bg-color: #F8F2EB;
    --primary-color: #705D3F;

}

.navbar-brand {
    img {
        max-height: 30px;
    }
}

body {
    background-color: var(--bg-color);
    font-weight: 400;
    color: var(--bg-color);
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;
}

.vuecal__cell {
    width: calc(100% / 7) !important;  /* Imposta la larghezza delle celle */
    height: 70px !important; /* Imposta l'altezza delle celle */
    display: flex;
    justify-content: center;
    align-items: center;
    border: .1px solid #cf9d9d;   /* Aggiungi un bordo */
    z-index: 9999;
}

.ms_bg-marker {
    background-image: url(../assets/img/marker.png);
}
