// Bootstrap
@use './partials/checked';
@use './header.scss' as *;
@import '@fortawesome/fontawesome-free/css/all.css';
@import "bootstrap/scss/bootstrap";
@import 'vue-cal/dist/vuecal.css';


:root {
    --bg-color: #F8F2EB;
    --primary-color: #705D3F;

}

body {
    background-color: var(--bg-color);
}

.vuecal__cell {
    width: calc(100% / 7) !important;  /* Imposta la larghezza delle celle */
    height: 70px !important; /* Imposta l'altezza delle celle */
    display: flex;
    justify-content: center;
    align-items: center;
    border: .1px solid #cf9d9d;   /* Aggiungi un bordo */
    z-index: 9999;
}
