@import "bootstrap/scss/bootstrap";
$header-bg : #F8F2EB;

ul{
    list-style-type: none;
}
.ms_minh{
    min-height: 70px;
}
.bg-header {
    background-color: black;
}
.ms_headernav{ 
    position: fixed;
    z-index: 999;
    background-color: $header-bg;
    width: 100%;
}

.font-color-b{
    color: #705D3F;
}

.font{
    font-weight: 400;
    letter-spacing: 2px;
}