@import "bootstrap/scss/bootstrap";

.ms_headernav {
    z-index: 999;
    background-color: var(--primary-color);
    width: 100%;

}

.font {
    font-weight: 400;
    color: var(--bg-color);
    letter-spacing: 1px;
}