@import "bootstrap/scss/bootstrap";

.ms_headernav {
    z-index: 999;
    width: 100%;
    transition: all 0.5s;
}

.ms_bg-primary {
    background-color: var(--primary-color);
    
}

.ms_bg-transparent {
    background-color: transparent;
    
}

.font {
    font-weight: 400;
    color: var(--bg-color);
    letter-spacing: 1px;
}